@using Puzzle.ViewModels.Feedbacks
@model FilterFeedbackFormViewModel

@{
    int count = Model.Entities.Count;
    int counter = 1;
}

<table>
    <thead>
        <tr>
            <th style="width: 52px;">#</th>
            <th style="padding-right: 5px; padding-left: 5px;">
                <select class="search-designer-custom" asp-for="DesignerId">
                    <option value="">طراحان</option>
                    @foreach (var item in (ViewBag.Designer as List<UserViewModel>).OrderBy(c => c.Priority))
                    {
                        <option value="@item.Id">
                            @string.Join(" ", item.Name.Split(" ").Skip(1))
                        </option>
                    }
                </select>
            </th>
            <th style="padding-right: 5px; padding-left: 5px;">
                <select class="search-customer" asp-for="DesignerId">
                    <option value="">کاربران</option>
                    @foreach (var item in (ViewBag.CustomerList as List<CustomerViewModel>).OrderBy(c => c.FirstName).ThenBy(a => a.LastName))
                    {
                        <option value="@item.Id">
                            @string.Join(" ", item.FirstName, item.LastName)
                        </option>
                    }
                </select>
            </th>
            @* <th style="width: 100px; min-width: 100px;">نام طراح</th> *@
            @* <th style="width: 100px; min-width: 100px;">نام کاربر</th> *@
            <th style="width: 100px;">امتیاز</th>
            <th style="width: 100px;">کیفیت طراحی</th>
            <th style="width: 100px;">انطباق سفارش با طراحی</th>
            <th style="width: 100px;">زمان تحویل</th>
            <th style="width: 100px;">برخورد مناسب طراح</th>
            <th style="width: 100px;">قیمت</th>
            <th style="width: 100px;">برخورد مناسب مدیریت و عوامل دفتری</th>
            <th>توضیحات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Entities)
        {
            <tr class="li-project">
                <td>
                    @(counter++)
                </td>
                <td>

                    @item.DesignerName

                </td>
                <td>

                    @item.CustomerName

                </td>
                <td>

                    @item.Vote

                </td>
                <td>

                    @item.DesignQualityVote

                </td>
                <td>

                    @item.ComplianceOfTheOrderWithTheDesignVote

                </td>
                <td>

                    @item.DeliveryTimeVote

                </td>
                <td>

                    @item.AppropriateApproachOfTheDesignerVote

                </td>
                <td>

                    @item.PriceVote

                </td>
                <td>

                    @item.AppropriateTreatmentOfManagementAndOfficeWorkersVote

                </td>
                <td>
                    <span data-description-id="@item.Id" data-description="@item.Description" class="open-description @(!string.IsNullOrWhiteSpace(item.Description) ? "btn-print-active" : "btn-print")">D</span>
                </td>
            </tr>
        }
    </tbody>

</table>