@model IEnumerable<CustomerChat>

@{
    Layout = null;
    DateTime? date = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/lightGallery/css/lightgallery-bundle.css" rel="stylesheet" />

    <link href="~/css/my.css" rel="stylesheet" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/lightGallery/lightgallery.min.js"></script>
    <script src="~/lib/lightGallery/plugins/thumbnail/lg-thumbnail.min.js"></script>
    <script src="~/lib/lightGallery/plugins/zoom/lg-zoom.min.js"></script>
    <script src="~/lib/compressorjs-main/dist/compressor.js"></script>
    <script src="~/lib/lightGallery/plugins/video/lg-video.min.js"></script>

    <style>
        .OverHide {
            background: #3a405b;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0px;
            left: 0px;
            overflow-y: hidden;
            opacity: 0.5;
            z-index: 1000;
            display: none;
        }

        #Loading {
            position: fixed;
            top: 25%;
            z-index: 1200;
            display: none;
            width: 270px;
            margin-left: calc(50% - 135px);
        }

            #Loading img {
                width: 100%;
            }

        .loading-other {
            display: none;
            background: #fff;
            padding: 0px 20px 20px 20px;
        }
    </style>
</head>
<body class="customer-chat-body">
    <div>
        <div class="header">
            <div class="header-name-pic">
                <div class="header-name">
                    <p>فیش های واریز</p>
                </div>
            </div>
            <div class="header-wallet">
                <div class="header-wallet-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-credit-card" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M3 5m0 3a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3z"></path>
                        <path d="M3 10l18 0"></path>
                        <path d="M7 15l.01 0"></path>
                        <path d="M11 15l2 0"></path>
                    </svg>
                </div>
                <div class="wallet-price">
                    <p>مانده حساب</p>
                    <p>
                        <span>@((ViewData["Accounting"].ToInt() * 1000).ToString("N0"))</span>
                        <span>تومان</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="customer-chat">
            <div id="customer-chat-light-gallery">
                @foreach (var item in Model)
                {
                    if (item.CreatedAt.Date != date)
                    {
                        date = item.CreatedAt.Date;

                        <div class="divider">
                            @if (date == DateTime.Today)
                            {
                                <div class="divider-text">امروز</div>
                            }
                            else if (date == DateTime.Today.AddDays(-1))
                            {
                                <div class="divider-text">دیروز</div>
                            }
                            else
                            {
                                <div class="divider-text">@date.Value.ToShamsi().ToShortDateString()</div>
                            }
                        </div>
                    }

                    <div class="@(item.UserId != null ? "customer-chat-left" : null)">
                        <div href="@item.Attachment" class="customer-chat-light-gallery-selector">
                            <img class="customer-chat-photo" src="@item.Attachment.Bitmap(480)" />
                        </div>
                        <div class="customer-chat-time-read">
                            <span>@item.CreatedAt.ToString("HH:mm")</span>
                            @if (item.UserId == null)
                            {
                                @if (item.UnreadByAdmin)
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M5 12l5 5l10 -10"></path>
                                    </svg>
                                }
                                else
                                {
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-checks" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M7 12l5 5l10 -10"></path>
                                        <path d="M2 12l5 5m5 -5l5 -5"></path>
                                    </svg>
                                }

                            }
                        </div>
                        </div>
                }
            </div>
        </div>

        <div class="customer-chat-upload">
            <p>
                لطفا پس از واریز وجه، عکس فیش خود را
                <br />
                اینجا ارسال کنید
            </p>
            <input type="file" accept="capture=camera,image/*" />
            <div>
                بارگذاری فیش
            </div>
        </div>






    </div>
    <div class="OverHide" id="OverHide"></div>
    <div class="Loading" id="Loading">
        <img class="" src="~/images/Loading.gif" />
        <div class="loading-other">
            <div class="">
                <label class="upload-percent">0%</label>
                <label class="upload-size">0MB</label>
            </div>
            <div class="upload-progress">
                <div class="upload-progress-bar" style="width: 0%"></div>
            </div>
        </div>
    </div>

    <div class="loading-fb">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="OverHide2"></div>

    <script src="~/js/app.js" asp-append-version="true"></script>
</body>
</html>
