@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "کاربران";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-lg-12">
        <div class="FormBox">
            <div class="FormBoxTitle">
                <label>کاربران</label>
                <a class="new-label" asp-action="create">جدید</a>
            </div>
            <div class="FormBoxInner">
                <div class="margin-top-15 FormDiv col-lg-2-4 col-md-2 col-sm-12 col-xs-12" style="">
                    <label style="margin:0px;">نام و نام خانوادگی</label>
                </div>
                <div class="margin-top-15 FormDiv col-lg-2-4 col-md-2 col-sm-12 col-xs-12">
                    <label style="margin:0px;">شماره تماس</label>
                </div>
                <div class="margin-top-15 FormDiv col-lg-2-4 col-md-2 col-sm-12 col-xs-12">
                    <label style="margin:0px;">تاریخ تولد</label>
                </div>
                <div class="margin-top-15 FormDiv col-lg-2-4 col-md-2 col-sm-12 col-xs-12">
                    <label style="margin:0px;">وضعیت</label>
                </div>
                <div class="col-lg-2-4 col-md-2 col-sm-12 col-xs-12">
                </div>
                @foreach (var item in Model)
                {
                    <div class="li-project">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="Hr margin-top-15"></div>
                        </div>
                        <div class="margin-top-15 FormDiv col-lg-2-4 col-md-2 col-sm-12 col-xs-12" style="">
                            <input type="text" value="@item.Name" readonly />
                        </div>
                        <div class="margin-top-15 FormDiv col-lg-2-4 col-md-2 col-sm-12 col-xs-12">
                            <input type="text" value="@item.PhoneNumber" readonly />
                        </div>
                        <div class="margin-top-15 FormDiv col-lg-2-4 col-md-2 col-sm-12 col-xs-12">
                            <input type="text" value="@item.Birthday?.ToShortDateString()" readonly />
                        </div>
                        <div class="margin-top-15 FormDiv col-lg-2-4 col-md-2 col-sm-12 col-xs-12">
                            <input type="text" class="status" value="@(item.IsActive ? "فعال" : "غیرفعال")" readonly />
                        </div>
                        <div class="col-lg-2-4 col-md-2 col-sm-12 col-xs-12">
                            <a asp-action="edit" class="btn btn-success" asp-route-Id="@item.Id" style="margin-top:15px; border-radius:5px;">مشاهده</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>